<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="header" class="navbar navbar-expand-lg sticky-top mb-2 header">
    <div class="container d-flex flex-row-reverse">
        <div sec:authorize="isAuthenticated()">
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" role="button" class="btn btn-primary">Панель администратора</a>
            <a href="/logout" role="button" class="btn btn-primary">Выход</a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a href="/login" role="button" class="btn btn-primary">Вход</a>
        </div>
    </div>
</nav>